<nav class="navbar navbar-light bg-light">
  <div *ngFor="let row of  data ">
    <a href="{{row.proname}}" routerLink="/datalist">{{row.proname}}</a>
   
  </div>
    <div class="dropdown">
        <button class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Add +
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item"(click)="openDialog()">project</a></li>
          <li><a class="dropdown-item" routerLink="/adddata">data</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
    </nav>
  