<nav class="navbar navbar-light bg-light">
    <div class="dropdown">
        <button class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"
        style="background: none; color: black;border: none;">
        Add +
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item"(click)="openDialog()">Project</a></li>
          <li><a class="dropdown-item" routerLink="/adddata">data</a></li>
        </ul>
    </div>
    </nav>
        <router-outlet></router-outlet>