<form [formGroup] ="proform" (ngSubmit)="projectdetails()">
<div mat-dialog-title >
    <h3>
    Project! Create One
    <button mat-dialog-close type="button" 
      class="close" data-dismiss="modal"
       aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    
    </h3>
    </div>
    <br>
    
    <div class="content"
     mat-dialog-content>
    
      <div class="content1">
      <label for="Name" >Name: </label><br>
      </div>
    
        <input formControlName ="proname"
        class="input"
         type="text"  name="Name" 
         required placeholder="Name"><br>
    
      </div>
    
    <div class="con" mat-dialog-actions>
      <button type="submit"  mat-button>Save<mat-icon >save</mat-icon></button>
    </div>
</form>
    
    