
::ng-deep {
    .mat-dialog-title{
      background-color: rgb(240, 240, 240);
        padding: 0.5px;
        padding-bottom: -12px;
        
      
    }
    .mat-dialog-container {
      padding: 0px;
      overflow:hidden;
      border-radius: 0ch;
      

    }
  }