button {
    background: none!important;
    border:none;
    padding: 0!important;
    font:inherit;
    color: #F56878;
    text-decoration: underline;    
    cursor: pointer;
  }
  .container{
    img{
      width: 60%; 
      padding-left: 36%; 
      padding-top:-7%;
    }
    p{
      text-align:center;
      font-size: 20px; 
      padding-top: 30px;
    }
  }
  .containe{
     img{
      width: 70%; 
      padding-left: 36%;
       padding-top: -5%;
     }
    p{
      text-align:center;
      font-size: 20px; 
      padding-top: 30px;
    }
    
  }