<app-header></app-header>
<app-add></app-add>

<app-datalist></app-datalist>

<div *ngIf="!noproject">

<div class="container">
  <img src="assets/images/project.svg" >
  <p>No project available in the application.<button (click)="openDialog()">Create one!</button></p>
</div>

</div>

<div *ngIf="noproject && nodata">

    <div class="container">
      <div class="containe">
      <img src="assets/images/data.svg" >
      <p >No data available for this project.<button routerLink="/adddata">Create one!</button></p>
    </div>
  </div>
    
    </div>


