.div-box{
    padding: -50px;
    width: 300px;
    height: 140px;
    margin-left: 15px;
    background-color: rgb(219, 224, 224);
    margin-top: 20px;
}
h4{
    margin-left:70px;
}
.form-control input-text{
    margin-top: 50px;
    width: 80%;
}