::-webkit-file-upload-button {
   display: none;
}
.container{
    .form-total{
       margin-left: 5px;
       margin-top: 30px;
       button{
           background-color: rgb(255, 255, 255);
            border-radius: 0px;
           font-size: 18px;
           color: rgb(255, 121, 80);
       }
    }
    h3{
       margin-left: 440px;
       margin-top: -30px;
    }
    .form-group{
       margin-top: -55px;
        .select{
            label{
               margin-top: 90px;
               margin-left: 440px;
            }
            .lab1{
               margin-top: 100px;
            }
            select{
               width: 450px;
                height: 35px;
                margin-left: 500px;    
               margin-top: -25px;
              border-radius: 0px;
            }
        }
    }
}
.labe1{
   margin-top: 10px;
   margin-left:  445px;
}
.labe2{

   margin-left:  445px;
}
.input1{
  width: 450px;
  border-radius: 0px;
  height: 35px;
  margin-left:  500px;
  margin-top: -35px;
}
.upbutton{
  width: 90px;
  border-radius: 0px;
  margin-left: 53px;  
  padding: 0px 13px 0px 13px;
  background-color: rgb(6, 93, 109);
  color: rgb(245, 245, 245);
}
.rembutton{
  width: 90px;
  border-radius: 0px;
  margin-left: 53px;
  padding: 0px 13px 0px 13px;
  background-color:#F56878;
  color: rgb(245, 245, 245);
}
.input2{
   padding-top: 20px;
   padding-bottom: 0px;
   margin-bottom: 0px;
   padding-left: 447px;
}
.fileinput{
   margin-left: 0px;
   display: none;
}
.spl{
   margin-left: 370px;
   padding-left: 70px;
   padding-right: 0px;
}
.filelab{    
   outline: 1px solid rgba(0, 0, 0, 0.185);
   padding: 17px 320px 17px 5px;
   margin-left: 0px;
   margin-top: 0px;
   overflow: hidden;
}
.name{
   border-radius: 0px;
}
.databig{
   height: 200px;
}
.filediv{

 padding-top: 100px;
}
.matsave{
   margin-left: 865px;  
   border-radius: 0px;
    margin-top: 25px; 
    background-color: rgb(6, 93, 109);
     color: white;
}
