.page{
    background-image: url("/assets/images/bg.jpg");
    height:100%;

   .col-md-5{  
    padding-top: 18%; 
    padding-left: 16%;
   }
   .container{
       margin-left: 780px;
       p{
        color: #fff; 
        font-size: 30px;
        margin-right: 60%;
       }
    
   }

form{

.link {
    background: none!important;
    border: none;
    padding: 0!important;
    font:inherit;
    color: #fff;
    cursor: pointer;
    float: right; 
    font-size: 17px;
    margin-top: 6%;
  }
    .error{
        color:rgb(255, 62, 62);
        font-size: 17px;
        margin-top: 20px;
         padding-top: 10px;
  }
  .print{
 
      p{
        font-size: 18px; 
        color:#fff;
        text-decoration: underline;
        padding-top: 3%;

      }
  }
  .col-md-2{
      .timer{

        font-size: 18px; 
        color:#fff; 
        padding-top: 8px;
      }
      .replay{
        font-size: 18px; 
        color:#fff;

      }
  }
  .butt{
      
    .link1{
        font-size: 17px;
        background: none;
        border: none;
        color:#fff;
        
    }
    
    .link2{
      font-size: 17px; 
      margin-left: 50%;
      background: none;
      border: none;
      color:#fff;
      
  
    }
}
  
}
p{

    text-align:center;
    font-size: 18px;
    color:#fff;
     padding-top: 10%;
}

}
  
  