<div class="page">
  <div class="row">
    <div class="col-md-5">
  <div class="container">
   <p>Get In</p>
    <form [formGroup]="loginForm" (ngSubmit)="sendOtp()">
   <div *ngIf="!mailentered">
     <div>      
        <app-input formControlName ="email" class="email" type="text" placeholder="Email" name="email"
           [group]="loginForm" ngDefaultControl
           ></app-input>
        <button class="link" type="submit" >Send OTP ></button>
        <span *ngIf="!loginForm.valid && loginForm.touched" class="error">
          *Please enter a valid Email!
        </span>      
    </div>
    </div>

    <div class="print" *ngIf="mailentered">
      <p>{{email1}}</p>      
      <div class="row">    
      <div class="col-md-10">
        <div>        
          <app-input type="number" name="otp" [group]="loginForm" [maxLength]=6 ></app-input>          
        </div>
      </div>
      <div class="col-md-2">
        <div class="timer" *ngIf="!resend" ><app-timer></app-timer></div><br>
        <div class="replay" *ngIf="resend" ><mat-icon (click)=resendOtp()>replay</mat-icon></div>
      </div>
    </div>
    <div class="butt">
      <button class="link1" type="reset" (click)="clear()" >Cancel</button>
      <button class="link2" (click)="proceed()" >Proceed ></button>
    </div>
  </div>
    </form>
  </div>
    </div>
    </div>
  <p>© 2021 Coherent pixels systems pvt ltd.</p>
</div>