.page{
    background-image: url("/assets/images/bg.jpg");
   margin:0%;
   height:100%;
}

button.link {
    background: none!important;
    border: none;
    padding: 0!important;
    font:inherit;
    color: #fff;
    
    cursor: pointer;
  }

  .row{
     
      margin-right: 0%;
  }